<!-- <span>{{ cartProducts.length }} </span> -->
<div class="cart-container">
  <app-cart-item
    *ngFor="let cartProductEl of cartProducts"
    [cartProduct]="cartProductEl"
  ></app-cart-item>
</div>

<ng-container *ngIf="cartProducts.length === 0">
  <div class="container">
    <div class="center">
      <img src="" alt="" />
      <h4>Your cart is empty.</h4>
      <!-- <h6>Add item to cart now</h6> -->
      <button
        mat-raised-button
        class="btn btn-primary"
        (click)="goToDashboard()"
      >
        Buy now
      </button>
    </div>
  </div>
</ng-container>
