* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  display: grid;
  row-gap: 16px;
  width: 261.44px;
  height: 330px;
  position: relative;
}

.product-img {
  width: 200px;
  /* height: auto; */
  height: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product-quantity {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 3px;
  color: #f8f9fa;
  background-color: #495057;
  border-radius: 100%;
  font-size: 14px;
}

.name {
  font-size: 14px;
}

.price {
  font-size: 12px;
}

.name-price {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.detail {
  margin-left: 16px;
  /* margin-bottom: 10px; */
  font-size: 12px;
  color: #666666;
  line-height: 1.5;
}

.cart-btn {
  background-color: #40c057;
  /* display: block; */
  /* margin: 0 auto; */
  border: none;
  /* cursor: pointer; */
  width: 250px;
  font-size: 16px;
  /* height: 28px; */
  color: #f8f9fa;
}

.cart-btn:hover {
  background-color: #2b8a3e;
}

.change-quantity-btns {
  display: flex;
}

.cart-btn-plus {
  font-size: 16px;
  width: 50%;
  background-color: #40c057;
  color: #f8f9fa;
}

.cart-btn-minus {
  font-size: 16px;
  width: 50%;
  background-color: #40c057;
  color: #f8f9fa;
}
